---
interface Props {
    productName: string
}
const { productName } = Astro.props
---
<div
    class="border px-3 py-2 text-xs md:text-sm text-slate-600 flex flex-nowrap items-center gap-1 overflow-x-auto scrollbar-hide whitespace-nowrap"
>
    <a
        href="https://www.ds3comunicaciones.com/index.html"
        class="flex-shrink-0 hover:text-blue-600"
    >
        <i class="fa-solid fa-house text-[0.9em]"></i>
    </a>
    <span class="text-gray-400 flex-shrink-0"
        ><i class="fa-solid fa-angle-right text-[0.8em]"></i></span
    >
    <a
        href="http://www.ds3comunicaciones.com/cisco/index.html"
        class="flex-shrink-0 hover:underline hover:text-blue-600"
    >
        Cisco
    </a>
    <span class="text-gray-400 flex-shrink-0"
        ><i class="fa-solid fa-angle-right text-[0.8em]"></i></span
    >
    <a
        href="http://ds3comunicaciones.com/cisco/catalyst.html"
        class="flex-shrink-0 hover:underline hover:text-blue-600"
    >
        Switch Catalyst
    </a>
    <span class="text-gray-400 flex-shrink-0"
        ><i class="fa-solid fa-angle-right text-[0.8em]"></i></span
    >
    <span class="text-slate-800 font-medium flex-shrink-0">
        { productName }
    </span>
</div>
