---
const navItems = [
  {
    href: "https://www.ds3comunicaciones.com/cisco/catalys_9200l.html",
    label: "Switch Catalyst",
    icon: "/icons/SwitchCatalyst.ico",
    alt: "Switch Catalyst",
    isSvg: false,
  },
  {
    href: "https://www.ds3comunicaciones.com/cisco/bussines_sg350.html",
    label: "Cisco Business",
    icon: "/icons/CiscoBusiness.ico",
    alt: "Cisco Business",
    isSvg: false,
  },
  {
    href: "https://www.ds3comunicaciones.com/cisco/precios_cisco_switch_industrial_b.html",
    label: "Switch Industrial",
    icon: "/icons/SwitchIndustrial.ico",
    alt: "Switch Industrial",
    isSvg: false,
  },
  {
    href: "https://www.ds3comunicaciones.com/cisco/precios_cisco_access_point_b.html",
    label: "Aironet",
    icon: "/icons/Aironet.ico",
    alt: "Aironet",
    isSvg: false,
  },
  {
    href: "https://www.ds3comunicaciones.com/cisco/precios_cisco_telefonos_b.html",
    label: "Teléfono",
    icon: "/icons/Télefono.ico",
    alt: "Teléfono",
    isSvg: false,
  },
  {
    href: "https://ds3comunicaciones.com/cisco/precios_cisco_meraki_b.html",
    label: "Meraki",
    icon: "/icons/mariakii.ico",
    alt: "Meraki",
    isSvg: false,
  },
  {
    href: "#",
    label: "Transceiver",
    icon: "/icons/Transceiver.ico",
    alt: "Transceiver",
    isSvg: false,
  },
];
---

<nav class="bg-white border-b border-gray-200 shadow-sm">
  <div class="relative">
    <div class="nav-container flex justify-evenly overflow-y-hidden overflow-x-auto md:py-2 px-4 space-x-2 scrollbar-hide">
      {navItems.map(({ href, label, icon, alt, isSvg }) => (
        <a
          href={href}
          class="nav-item flex items-center p-1.5 rounded-lg min-w-fit flex-shrink-0 space-x-1.5"
        >
          <div class="icon-container h-6 w-6 flex items-center justify-center">
            {isSvg ? (
              <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M21 42C32.598 42 42 32.598 42 21C42 9.40202 32.598 0 21 0C9.40202 0 0 9.40202 0 21C0 32.598 9.40202 42 21 42Z"
                  fill="white" stroke="black" stroke-width="2" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M27 21C27 24.3137 24.3137 27 21 27C17.6863 27 15 24.3137 15 21C15 17.6863 17.6863 15 21 15C24.3137 15 27 17.6863 27 21Z"
                  fill="black" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M29 21C29 25.4183 25.4183 29 21 29C16.5817 29 13 25.4183 13 21C13 16.5817 16.5817 13 21 13C25.4183 13 29 16.5817 29 21Z"
                  fill="white" stroke="black" stroke-width="2" />
              </svg>
            ) : (
              <img src={icon} class="nav-icon max-h-full max-w-full" alt={alt} />
            )}
          </div>
          <span class="text-xs font-medium text-gray-600 whitespace-nowrap">{label}</span>
        </a>
      ))}
    </div>
  </div>
</nav>
