    <aside
      class="hidden lg:block bg-white p-2 rounded-lg shadow-md w-full md:w-48 lg:w-56 h-[80vh] overflow-y-auto scrollbar-hide"
    >
      <!-- Título -->
      <h2 class="text-lg font-bold text-gray-800 mb-4 pb-2 border-b">
        Nuestras Marcas
      </h2>

      <!-- Contenedor de marcas - responsive -->
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-1">
        <!-- Marca Alfa -->
        <a
          href="https://www.ds3comunicaciones.com/alfa/index.html"
          class="flex items-center justify-center rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/ALFA_logo1.gif"
            alt="Alfa"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Airlive -->
        <a
          href="https://www.ds3comunicaciones.com/airlive/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/airlivelogo.gif"
            alt="Airlive"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Andrew -->
        <a
          href="https://www.ds3comunicaciones.com/andrew/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/andrew/images/logo_andrew.jpg"
            alt="Andrew"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca AMP -->
        <a
          href="https://www.ds3comunicaciones.com/AMP/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/amp_logo2-91x20.jpg"
            alt="AMP"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Amphenol -->
        <a
          href="https://www.ds3comunicaciones.com/amphenol/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/amphenol_logo-100x21.jpg"
            alt="Amphenol"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Belden -->
        <a
          href="https://www.ds3comunicaciones.com/belden/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/Belden-Logo-93x15.jpg"
            alt="Belden"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Cisco -->
        <a
          href="https://www.ds3comunicaciones.com/cisco/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/cisco/images/logo-cisco.gif"
            alt="Cisco"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Dahua -->
        <a
          href="https://www.ds3comunicaciones.com/dahua/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/dahua/images/dahua_logo.jpg"
            alt="Dahua"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca D-Link -->
        <a
          href="https://www.ds3comunicaciones.com/dlink/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/D-Link_Logo-100x26.jpg"
            alt="D-Link"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Dixon -->
        <a
          href="https://www.ds3comunicaciones.com/dixon/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/dixon_logo-100x19.jpg"
            alt="Dixon"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca FibreFab -->
        <a
          href="https://www.ds3comunicaciones.com/FibreFab/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/FibreFab/images/logo_fibrefab.png"
            alt="FibreFab"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca LanPro -->
        <a
          href="https://www.ds3comunicaciones.com/lanpro/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/lanpro/images/lanpro_logo.jpg"
            alt="LanPro"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca L-Com -->
        <a
          href="https://www.ds3comunicaciones.com/l-com/"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/sitebuilder/images/lcom_logo-100x23.jpg"
            alt="L-Com"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca MikroTik -->
        <a
          href="https://www.ds3comunicaciones.com/mikrotik/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/mikrotik_logo-100x24.png"
            alt="MikroTik"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Panduit -->
        <a
          href="https://www.ds3comunicaciones.com/panduit/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/panduit/images/panduit_logo.jpg"
            alt="Panduit"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Satra -->
        <a
          href="https://www.ds3comunicaciones.com/satra/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/satra/images/satra.JPG"
            alt="Satra"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Siemon -->
        <a
          href="https://www.ds3comunicaciones.com/siemon/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/siemon/images/siemon_logo1.GIF"
            alt="Siemon"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca TP-Link -->
        <a
          href="https://www.ds3comunicaciones.com/tplink/"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/tp-link_logo-100x13.jpg"
            alt="TP-Link"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Trendnet -->
        <a
          href="https://www.ds3comunicaciones.com/trendnet/"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/trendnet_logo-100x20.jpg"
            alt="Trendnet"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>

        <!-- Marca Ubiquiti -->
        <a
          href="https://www.ds3comunicaciones.com/ubiquiti/index.html"
          class="flex items-center justify-center p-1 rounded-md hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          <img
            src="http://www.ds3comunicaciones.com/belden/images/ubnt_logo-100x47.png"
            alt="Ubiquiti"
            class="max-w-[100px] max-h-8 w-auto h-auto object-contain"
          />
        </a>
      </div>
    </aside>